@model IEnumerable<ApolloReportCard.Models.CriteriaModel>
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>

    @Html.DisplayNameFor(model => model.Name)
</p>
